
<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8"> 
    <style>
      body {
        margin: 0;
      }
      canvas {
        width: 100vw;
        height: 100vh;
        display: block;
      }
    </style>
  </head>
  <body>
    <canvas id="c"></canvas>
    <script src="/js/renderer/renderer.func.js"></script>
    <script src="/js/ajax/makeRequest.js"></script>
    <script src="sketch.js"></script>
    
  </body>
</html>